* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "poppins", "san-serif";
}

body {
  font-size: 1.6rem;
  height: 100vh;
  background-color: #f6f1f1;
}

/* nav area */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 2.4rem;
  font-size: 2rem;
}

.logo {
  width: 4.8rem;
}

.login__input {
  border: none;
  padding: 1rem;
  border-radius: 11px;
  width: 7rem;
}

.login__btn {
  border: none;
  width: 4.8rem;
  cursor: pointer;

  font-size: 2.4rem;
}
/*  */
.app {
  max-width: 80rem;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;
  margin: 0 auto;
  opacity: 0;
  transition: all 1s;
}

/* header area */
.balance {
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.balance__date {
  font-size: 1.2rem;
  color: #555;
}

.balance__value {
  font-size: 3rem;
}

/* movements area */
.movements {
  grid-row: 2 / span 3;
  background-color: #fff;
  overflow: scroll;
}

.movements__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  border-bottom: 4px solid #f6f1f1;
  border-radius: 4px;
}
.movements__type {
  font-size: 1.2rem;
  color: #fff;
  padding: 0.4rem 1rem;
  border-radius: 100px;
}
.movements__type--deposit {
  color: #fff;
  background-color: green;
}

.movements__type--withdrawl {
  color: #fff;
  background-color: red;
}

/* operation area */
.operation {
  border-radius: 4px;
  padding: 2rem;
}

.operation h2 {
  font-size: 1.8rem;
}
.operation--transfer {
  background-color: darkgoldenrod;
}
.operation--loan {
  background-color: green;
}
.operation--close {
  background-color: red;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: 2rem 2rem;
  column-gap: 1rem;
  row-gap: 0.8rem;
  margin-top: 1rem;
}

.form--loan {
  grid-template-columns: 2.5fr 2.5fr;
}
.form__input {
  width: 100%;
  border: none;
  opacity: 0.5;
  border-radius: 4px;
  padding: 1rem;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__btn {
  border: none;
  background-color: #fff;
  width: 4.8rem;
  border-radius: 4px;
  cursor: pointer;
}

.form__label {
  font-size: 1.4rem;
  justify-self: center;
  font-weight: 500;
}

/* footer area */
.summary {
  grid-row: 5/6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary__label {
  font-size: 1.2rem;
  margin-right: -2.5rem;
}

.summary__value {
  font-size: 2.2rem;
}

.summary__value--in,
.summary__value--interest {
  color: green;
}

.summary__value--out {
  color: red;
}

.btn--sort {
  cursor: pointer;
  border: none;
}
